<div *ngIf="screenId === 'result'">
  <div class="phonewrapper">
    <div class="p-4 mt-4">
      <div class="row">
        <div class="col-12">
          <h6>
            <fa-icon [icon]="['fas', 'bars']" class="mr-2"></fa-icon>
            Analysing Throat
            <fa-icon [icon]="['fas', 'redo-alt']" class="float-right" ngbTooltip="Reset App"
                     (click)="reset()"></fa-icon>
          </h6>
          <hr>
        </div>
        <div class="col-12">
          <h6>Result</h6>
        </div>
        <div class="col-md-7">
          <h5 class="disease-header-style ml-2">Tonsillitis</h5>
          <p class="ml-2">Tonsillitis is inflammation of the tonsils, typically of rapid onset.
            It is a type of pharyngitis.
            Symptoms may include sore throat, fever, enlargement of the tonsils, trouble swallowing, and large lymph
            nodes
            around the neck.
            Complications include peritonsillar abscess.<a href='https://www.google.ch/search?q=tonsillitis'>Learn more</a></p>
        </div>
        <div class="col-md-5">
          <circle-progress [percent]="85" [radius]="50"></circle-progress>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h6>Recommended Plan of action</h6>
        </div>
        <div class="col-12">
          <ul class="ml-2 mt-2">
            <li>
              <fa-icon [icon]="['fas', 'user-md']"></fa-icon>
              Visit a general practitioner
            </li>
            <hr>
            <li>
              <fa-icon [icon]="['fas', 'running']"></fa-icon>
              Don't exercise
            </li>
            <hr>
            <li>
              <fa-icon [icon]="['fas', 'glass-whiskey']"></fa-icon>
              Drink cold beverages
            </li>
            <hr>
          </ul>
        </div>
      </div>
      <div class="row">
        <button mat-flat-button color="primary" class="rounded-0 mx-auto" (click)="screenId = 'validate'">Validate
          result with practitioner
        </button>
      </div>

    </div>
  </div>
  <div class="phone-overlay"></div>
</div>

<div *ngIf="screenId === 'validate'">
  <div class="phonewrapper">
    <div class="p-4 mt-4">
      <div class="row">
        <div class="col-12">
          <h6>
            <fa-icon [icon]="['fas', 'bars']" class="mr-2"></fa-icon>
            Analysing Throat
            <fa-icon [icon]="['fas', 'redo-alt']" class="float-right" ngbTooltip="Reset App"
                     (click)="reset()"></fa-icon>
          </h6>
          <hr>
        </div>
        <div class="col-12">
          <h6>Validate Result</h6>
        </div>
        <div class="col-12">
          Please scan the QR-Code provided by your doctor <fa-icon [icon]="['fas','info-circle']" class="ml-2 pointer" ngbTooltip="Hint: The doctor presents a QR code according to his evaluation. There is a QR code for 'user has disease' and 'user does not have the disease'. This is valuable information for us, as this allows us to label newly collected data and therefore improve the dataset that is used in training. Hence, this also improves the quality of the prediction."></fa-icon>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12">
          <button mat-flat-button color="primary" class="rounded-0 mx-auto" (click)="scanQr()">
            <fa-icon [icon]="qrScanning ? ['fas', 'spinner'] : ['fas', 'qrcode']" [spin]="qrScanning" class="mr-2"></fa-icon>
            Scan
          </button>
        </div>
        <div class="col-12 mt-3 img-wrapper" *ngIf="qrScanning">
          <img src="assets/images/qrcode.png" />
        </div>
        <div class="col-12 mt-3 img-wrapper" *ngIf="qrScanned">
          <fa-icon [icon]="['fas','check']" class="mr-2"></fa-icon> You have scanned the QR-Code successfully!
        </div>
      </div>

    </div>
  </div>
  <div class="phone-overlay"></div>
</div>


<div *ngIf="screenId === 'upload'">
  <div class="phonewrapper">
    <div class="p-4 mt-4">
      <div class="row">
        <div class="col-12">
          <h6>
            <fa-icon [icon]="['fas', 'bars']" class="mr-2"></fa-icon>
            Analysing Throat
            <fa-icon [icon]="['fas', 'redo-alt']" class="float-right" ngbTooltip="Reset App"
                     (click)="reset()"></fa-icon>
          </h6>
          <hr>
        </div>
        <ng-container *ngIf="!isAnalyzing; else analyze">
          <div class="col-12">
            <h6>Take an Image of your throat</h6>
          </div>
          <div class="col-12">
            <button mat-flat-button color="primary" class="rounded-0" (click)="imageUploaded = true">
              <fa-icon [icon]="['fas', 'image']"></fa-icon>
              Choose Image
            </button>
          </div>
          <div class="col-12 mt-3" *ngIf="imageUploaded">
            <h6>Your Image</h6>
          </div>
          <div class="col-5" *ngIf="imageUploaded">
            <img src="assets/images/disease.jpg" class="disease-img"/>
          </div>
          <div class="col-7" *ngIf="imageUploaded">
            <p>
              <fa-icon [icon]="['fas', 'check']"></fa-icon>
              The image you have chosen is valid. You can start analyzing for diseases.
            </p>
            <button mat-flat-button color="primary" class="rounded-0 mt-2" (click)="startAnalyzing()">
              <fa-icon [icon]="['fas', 'user-md']"></fa-icon>
              Analyze Image
            </button>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="phone-overlay"></div>
</div>

<ng-template #analyze>
  <mat-spinner class="mx-auto"></mat-spinner>
</ng-template>

<div *ngIf="screenId === 'login'">
  <div class="phonewrapper">
    <div class="login-wrapper p-4">
      <h6 class="mt-4 text-center">Practitioner App Login</h6>
      <div class="login-form mx-auto mt-4">
        <div class="row">
          <div class="col-12">
            <mat-form-field class="w-100">
              <input matInput placeholder="Username" autocomplete="new-password">
            </mat-form-field>
          </div>
          <div class="col-12">
            <mat-form-field class="w-100">
              <input matInput placeholder="Password" type="password" autocomplete="new-password">
            </mat-form-field>
          </div>
          <div class="col-12">
            <mat-checkbox checked><span class="agb-checkbox">Accept <span appClickStopPropagation class="agb-link"
                                                                          (click)="displayAgb = true">Privacy Policy</span></span>
            </mat-checkbox>
          </div>
          <div class="col-12 privacy-policy-wrapper text-justify" *ngIf="displayAgb">
            <ng-scrollbar>
              <div class="privacy-policy">
            <h1 dir="ltr">
              Example of a Privacy Policy for a more elaborated Practitioner App Model
              with following Characteristics: Online, with Registration, with Sale of
              Data
            </h1>

            <p dir="ltr">
              Last updated on the 15th of May 2020
            </p>


            <p dir="ltr">
              Our Practitioner App Company (“we”, “us” or “our”) cares about the privacy
              of our users (“user” or “you”) and is in full compliance with the General
              Data Protection Regulation (GDPR).
            </p>
            <p dir="ltr">
              The Practitioner App’s Privacy Policy describes how we collect, use,
              disclose, and safeguard your personal data in the context of your use of
              our mobile App Practitioner App (the “App”). It also explains your rights
              in relation to the processing of your personal data.
            </p>
            <p dir="ltr">
              Please read this Privacy Policy carefully. If you disagreed to the terms of
              our Privacy Policy none of your personal data will be collected, used,
              disclosed or safeguarded, but you might be limited in the use of some of
              our App’s services. If you agreed to this Privacy Policy your personal data
              may be collected, used, disclosed and safeguarded in accordance with our
              data practices as described and explained in this Privacy Policy.
            </p>

            <p dir="ltr">
              We aim for our Privacy Policy to be concise, transparent and intelligible
              for each and everyone. The latest version of the Privacy Policy will be
              easily accessible at all times from the App’s homepage. Should you have any
              questions or concerns, do not hesitate contacting us (cf. contact section).
            </p>

            <p dir="ltr">
              Our Privacy Policy does not apply to third-parties online or mobile stores
              from which you install our App, which may also collect, process and use
              data about you. We are not responsible for any of the data collected by any
              such third-party.
            </p>
            <h1 dir="ltr">
              WHAT DATA DO WE COLLECT?
            </h1>

            <p dir="ltr">
              The data we may collect via the App is the data you willingly give us by
              agreeing to the terms of our Privacy Policy. The data we collect depends on
              the content you decide to share with us though the use you make of our App.
              It can go from your name and e-mail address, to pictures or health data you
              decide to upload on the App. Hence the data we collect includes:
            </p>

            <ul>
              <li dir="ltr">
                <h2 dir="ltr">
                  Personal Data
                </h2>
              </li>
            </ul>
            <p dir="ltr">
              Here is a list of the personal data we may collect when you use our App:
            </p>
            <ul>
              <li dir="ltr">
                <p dir="ltr">
                  Your username, password and e-mail address when you register for an
                  account
                </p>
              </li>
              <li dir="ltr">
                <p dir="ltr">
                  Profile data that you provide for your user profile (e.g. first and
                  last name)
                </p>
              </li>
              <li dir="ltr">
                <p dir="ltr">
                  User content (e.g. personal photos, personal health data) that you
                  upload on the App
                </p>
              </li>
            </ul>

            <ul>
              <li dir="ltr">
                <h2 dir="ltr">
                  Derivative Data
                </h2>
              </li>
            </ul>
            <p dir="ltr">
              Data our servers automatically collect when you access the App, such as
              your native actions that are integral to the App.
            </p>

            <ul>
              <li dir="ltr">
                <h2 dir="ltr">
                  Geo-Location Data
                </h2>
              </li>
            </ul>
            <p dir="ltr">
              We may request access or permission to and track location-based data from
              your mobile device, either continuously or while you are using the App, to
              provide location-based services. If you wish to change our access or
              permissions, you may do so in your device’s settings.
            </p>

            <ul>
              <li dir="ltr">
                <h2 dir="ltr">
                  Data from Questionnaires
                </h2>
              </li>
            </ul>
            <p dir="ltr">
              Personal and health data you may provide when responding to questionnaires.
            </p>

            <ul>
              <li dir="ltr">
                <h2 dir="ltr">
                  Mobile Device Data
                </h2>
              </li>
            </ul>
            <p dir="ltr">
              Device data such as your mobile device ID number, model, and manufacturer,
              version of your operating system, phone number, country, location, and any
              other data you choose to provide.
            </p>
            <h1 dir="ltr">
              HOW DO WE COLLECT YOUR DATA?
            </h1>
            <p dir="ltr">
              We may collect the data presented in the previous chapter in various ways,
              including:
            </p>

            <ul>
              <li dir="ltr">
                <h2 dir="ltr">
                  Through your registration on our App
                </h2>
              </li>
            </ul>

            <p dir="ltr">
              We may collect the following data when you register on our App: user name,
              e-mail address, password, gender and other data you are willing to share
              when registering.
            </p>

            <ul>
              <li dir="ltr">
                <h2 dir="ltr">
                  Through the personal data you decide to give us when creating an
                  account
                </h2>
              </li>
            </ul>

            <p dir="ltr">
              When you create an account on our App in addition to your basis
              registration, we may collect the personal data you give us in connection
              with the creation of your account.
            </p>

            <ul>
              <li dir="ltr">
                <h2 dir="ltr">
                  Through the heath related questionnaires you decide to answer on
                  our App
                </h2>
              </li>
            </ul>

            <p dir="ltr">
              Our App uses automated health questionnaires as diagnosing tool. We may
              collect the data you give us by answering these questionnaires.
            </p>

            <ul>
              <li dir="ltr">
                <h2 dir="ltr">
                  Through the pictures you send us
                </h2>
              </li>
            </ul>

            <p dir="ltr">
              Our App something relies on a picture of the user to make a medical
              prediction with the help of artificial intelligence. We may collect the
              personal data you give us by sending us a picture of you.
            </p>

            <ul>
              <li dir="ltr">
                <h2 dir="ltr">
                  Through the feed back you send us after visiting a doctor
                </h2>
              </li>
            </ul>

            <p dir="ltr">
              After a doctor appointment you will be given the choice to send our App a
              feed back on your heath and on the accuracy of our medical prediction. We
              may collect the data you give us by sending us this feedback.
            </p>

            <ul>
              <li dir="ltr">
                <h2 dir="ltr">
                  Through Mobile Device Access
                </h2>
              </li>
            </ul>

            <p dir="ltr">
              Our App may request access or permission to certain features from your
              mobile device, including your mobile device’s camera, microphone, sensors,
              storage and other features. The first time you want to use one of the App’s
              services requiring access to a mobile device’s features, you will be asked
              through a pop-up notice to give us access to the concerned feature. You can
              either accept or decline the request. If you decline the request, in most
              cases you will not be able to use the desired service from our App. If you
              wish to change our access or permissions, you may do so in your device’s
              settings.
            </p>
            <h1 dir="ltr">
              HOW DO WE USE YOUR DATA?
            </h1>
            <p dir="ltr">
              We may use data collected about you through our App to:
            </p>

            <ul>
              <li dir="ltr">
                <p dir="ltr">
                  Provide the medical prediction services offered to you by this App
                </p>
              </li>
              <li dir="ltr">
                <p dir="ltr">
                  Conduct research
                </p>
              </li>
              <li dir="ltr">
                <p dir="ltr">
                  Improve our Product
                </p>
              </li>
              <li dir="ltr">
                <p dir="ltr">
                  Increase the efficiency and operation of the App
                </p>
              </li>
              <li dir="ltr">
                <p dir="ltr">
                  Transfer your data to business partners
                </p>
              </li>
              <li dir="ltr">
                <p dir="ltr">
                  Perform other business activities as needed
                </p>
              </li>
              <li dir="ltr">
                <p dir="ltr">
                  Request feedback and contact you about your use of the App
                </p>
              </li>
              <li dir="ltr">
                <p dir="ltr">
                  Respond to user service requests
                </p>
              </li>
              <li dir="ltr">
                <p dir="ltr">
                  Comply with our legal obligations
                </p>
              </li>
            </ul>
            <h1 dir="ltr">
              WILL YOUR DATA BE SHARED WITH ANYONE?
            </h1>

            <p dir="ltr">
              We may share data we have collected about you in certain situations. Your
              data may be disclosed as follows:
            </p>

            <ul>
              <li dir="ltr">
                <h2 dir="ltr">
                  Affiliates
                </h2>
              </li>
            </ul>
            <p dir="ltr">
              We may share your data with our affiliates, in which case we will require
              those affiliates to honor this Privacy Policy.
            </p>

            <ul>
              <li dir="ltr">
                <h2 dir="ltr">
                  Third-Party Service Providers
                </h2>
              </li>
            </ul>
            <p dir="ltr">
              We may share your data with third parties that perform services for us or
              on our behalf, including payment processing, data analysis, email delivery,
              hosting services, customer service, and marketing assistance.
            </p>
            <ul>
              <li dir="ltr">
                <h2 dir="ltr">
                  Business Partners
                </h2>
              </li>
            </ul>
            <p dir="ltr">
              We may share your data with our business partners to offer you certain
              services.
            </p>
            <ul>
              <li dir="ltr">
                <h2 dir="ltr">
                  Other Third Parties
                </h2>
              </li>
            </ul>
            <p dir="ltr">
              We may share your data with advertisers and investors for the purpose of
              conducting general business analysis. We may also share your data with such
              third parties for marketing purposes, as permitted by law.
            </p>
            <ul>
              <li dir="ltr">
                <h2 dir="ltr">
                  For Marketing Purposes
                </h2>
              </li>
            </ul>
            <p dir="ltr">
              With your consent we may share your data with third parties for marketing
              and business purposes, as permitted by law.
            </p>
            <ul>
              <li dir="ltr">
                <h2 dir="ltr">
                  Sale or Bankruptcy
                </h2>
              </li>
            </ul>
            <p dir="ltr">
              If we reorganize or sell all or a portion of our assets, undergo a merger,
              or are acquired by another entity, we may transfer your data to the
              successor entity. If we go out of business or enter bankruptcy, your data
              would be an asset transferred or acquired by a third party. You acknowledge
              that such transfers may occur and that the transferee may decline honor
              commitments we made in this Privacy Policy.
            </p>
            <ul>
              <li dir="ltr">
                <h2 dir="ltr">
                  By Law
                </h2>
              </li>
            </ul>
            <p dir="ltr">
              We may share your data as permitted or required by any applicable law,
              rule, or regulation.
            </p>
            <p dir="ltr">
              IS YOUR DATA TRANSFERED INTERNATIONALLY?
            </p>
            <p dir="ltr">
              We may transfer your data internationally. As mentioned in the previous
              section, we may share your data with certain organizations or companies. If
              these are based outside of the UE, then your data might be transferred
              internationally.
            </p>
            <p dir="ltr">
              However, if this is the case, when transferring it, we will make sure the
              same security standards are applicable to your data.
            </p>
            <p dir="ltr">
              HOW LONG DO WE KEEP YOUR DATA?
            </p>
            <p dir="ltr">
              We may keep you data as long as necessary for the company’s purposes
              mentioned above. But we will not keep data longer than necessary and you
              have a right to erasure.
            </p>
            <p dir="ltr">
              HOW DO WE KEEP YOUR DATA SAFE?
            </p>
            <p dir="ltr">
              We use administrative, technical, and physical security measures to protect
              your personal data. We use highly secure methods to keep your data safe. We
              use encryption and pseudonymisation among other methods.
            </p>
            <p dir="ltr">
              While we have taken reasonable steps to secure the personal data you
              provide to us, please be aware that despite our efforts, no security
              measures are perfect or impenetrable, and no method of data transmission
              can be guaranteed against any interception or other type of misuse.
            </p>
            <p dir="ltr">
              DO WE COLLECT DATA FROM MINORS?
            </p>
            <p dir="ltr">
              We do collect data from minors, but not from users under the age of 16.
              Users under that age won’t have access to our services and none of their
              data will be collected. If the user lies about his/her age, we won’t take
              responsibility.
            </p>
            <p dir="ltr">
              WHAT ARE YOUR PRIVACY RIGHTS?
            </p>
            <p dir="ltr">
              We want to make sure you are fully award of all of your data protection
              rights:
            </p>
            <ul>
              <li dir="ltr">
                <p dir="ltr">
                  The right to be informed – you have the right to be informed on
                  what data in processed, for which purpose, and how.
                </p>
              </li>
              <li dir="ltr">
                <p dir="ltr">
                  The right of access – you can have access to the data we hold about
                  you, free of charge.
                </p>
              </li>
              <li dir="ltr">
                <p dir="ltr">
                  The right to rectification – You have the right to have your
                  inaccurate personal data rectified or completed.
                </p>
              </li>
              <li dir="ltr">
                <p dir="ltr">
                  The right to erasure or right to be forgotten -You have the to have
                  your personal data erased.
                </p>
              </li>
              <li dir="ltr">
                <p dir="ltr">
                  The right to restrict processing – You have the right to require
                  restrictions on the processing of your personal data.
                </p>
              </li>
              <li dir="ltr">
                <p dir="ltr">
                  The right to portability – You have the right to transfer our data
                  to another service provider.
                </p>
              </li>
              <li dir="ltr">
                <p dir="ltr">
                  The right to object – You have the right to object to the
                  processing of their personal data.
                </p>
              </li>
            </ul>
            <p dir="ltr">
              DO WE MAKE UPDATES TO THIS POLICY?
            </p>
            <p dir="ltr">
              We reserve the right to update this Privacy Policy as necessary to reflect
              changes we make regarding our data practices and to satisfy legal
              requirements. You will be notified of any modification of our Privacy
              Policy with a pop-up notification when opening the App. Before you start
              using our mobile App again, you will be able to either accept or decline
              the updated Privacy Policy. If you decline the modified Privacy Policy the
              terms of this new policy don’t apply to you. However this doesn’t mean we
              will erase or stop processing data collected under the previous accepted
              Privacy Policies (cf. chapter about your right to be forgotten).
            </p>
            <p dir="ltr">
              HOW CAN YOU CONTACT US ABOUT THIS POLICY?
            </p>
            <p dir="ltr">
              If you have questions or comments about this Privacy Policy, please contact
              us at:
            </p>
            <p dir="ltr">
              The Practitioner App Company
            </p>
            <p dir="ltr">
              XXX Street
            </p>
            <p dir="ltr">
              XXX City, UE Member State
            </p>
            <p dir="ltr">
              XXX Phone number
            </p>
            <p dir="ltr">
              XXX Email address
            </p>
              </div>
            </ng-scrollbar>
          </div>
          <div class="col-12">
            <button mat-flat-button color="primary" class="rounded-0 float-right" (click)="screenId = 'upload'">Login
            </button>
            <button mat-flat-button color="accent" class="rounded-0 float-right mr-2" [disabled]="true">Signup</button>
          </div>
        </div>
      </div>


    </div>
  </div>
  <div class="phone-overlay"></div>
</div>
