<div class="py-4 content-box mt-4 mb-2">
  <div class="row m-0" *ngIf="page">
  <div class="col-12 px-4">
    <h4>{{title}}</h4>
    <hr>
  </div>
    <div class="col-12 m-0 p-0">
      <mat-accordion displayMode="flat">
        <mat-expansion-panel
          *ngFor="let p of page.paragraphs; let i = index"
          [expanded]="i == 0"
          (mouseenter)="highlight(p)"
          (mouseleave)="unhighlight()"
          [class.highlight]="highlightIds.includes(p.id)"
          class="no-padding-panel">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <strong>{{p.title}}</strong>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="description-text">{{p.textCondensed}}</p>
          <ul *ngIf="p.references.length > 0" class="linklist">
            <li *ngFor="let ref of p.references">
              <a [href]="ref.link" target="_blank">{{ref.name}}</a>
            </li>
          </ul>
        </mat-expansion-panel>
      </mat-accordion>


    </div>
    <div class="col-12">
      <hr>
      <ul *ngIf="page.references.length > 0" class="linklist">
        <li *ngFor="let ref of page.references">
          <a [href]="ref.link" target="_blank">{{ref.name}}</a>
        </li>
      </ul>
    </div>
<!--  <div class="col-12 px-4 pt-1" *ngFor="let p of page.paragraphs" (mouseenter)="highlight(p)" (mouseleave)="unhighlight()" [class.highlight]="highlightIds.includes(p.id)">-->
<!--    <h6>{{p.title}}</h6>-->
<!--    <p class="description-text">{{p.textCondensed}}</p>-->
<!--  </div>-->
</div>

</div>



