<div class="header p-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-7">
        <h3 [routerLink]="['/']" class="pointer">
          Medical Predictions with Artificial Intelligence
        </h3>
      </div>
      <div class="col-5">
        <h3>
          <fa-icon [icon]="['fas','cog']" class="float-right mr-4 pointer" (click)="showSettings()"></fa-icon>
          <span class="currently-selected float-right mt-2 mr-4">Currently selected: {{this.applicationType === 'online' ? 'Online' : this.applicationType === 'offline' ? 'Offline' : 'Semi Online' }} / {{this.registrationType === 'withRegistration' ? 'With Registration' : 'Without Registration'}} / {{this.sellingDataType === 'sellingData' ? 'Selling Data' : 'Not Selling Data'}}</span>
        </h3>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid show-fullscreen">
  <ng-container *ngIf="settingsVisible">
    <div class="p-4 settings-box my-2">
    <div class="row">
      <div class="col-12">
        <h5>Settings</h5>
        <hr>
      </div>
    </div>
    <form [formGroup]="settingsGroup" (ngSubmit)="applySettings()">
      <div class="row px-2">
        <div class="col-3">
          <h6>
            <fa-icon [icon]="['fas','wifi']" class="mr-1"></fa-icon>
            Type of application
          </h6>
          <mat-radio-group aria-label="Select an option" formControlName="type" class="app-radio-group">
            <mat-radio-button value="online">
              Online
            </mat-radio-button>
            <mat-radio-button value="semiOnline"><p class="mb-0"><strong>Semi-Online</strong></p><p class="radio-desc mb-0">Model for predictions is on the user's device. <br>Data is sent to the company's server as soon<br> as there is an internet connection.</p></mat-radio-button>
            <mat-radio-button value="offline">Offline</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="col-3">
          <h6>
            <fa-icon [icon]="['fas','fingerprint']" class="mr-1"></fa-icon>
            Registration
          </h6>
          <mat-radio-group aria-label="Select an option" formControlName="registration" class="app-radio-group">
            <mat-radio-button value="withRegistration" [disabled]="settingsGroup.get('type').value === 'offline'">With Registration
            </mat-radio-button>
            <mat-radio-button value="withoutRegistration">Without Registration</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="col-3">
          <h6>
            <fa-icon [icon]="['fas','money-bill-alt']" class="mr-1"></fa-icon>
            Selling Data
          </h6>
          <mat-radio-group aria-label="Select an option" formControlName="sellData" class="app-radio-group">
            <mat-radio-button value="sellingData" [disabled]="settingsGroup.get('type').value === 'offline'">Selling Data
            </mat-radio-button>
            <mat-radio-button value="notSellingData">Not Selling Data</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="col-3">

        </div>
      </div>

      <div class="row px-2">
        <div class="col-12">
          <button mat-flat-button type="submit" color="primary" class="float-right rounded-0">Apply</button>
        </div>
      </div>
    </form>
    </div>
  </ng-container>

  <div class="row">
    <div class="col-3">
      <app-phone
        [applicationType]="applicationType"
        [registrationType]="registrationType"
        [sellingDataType]="sellingDataType"
      ></app-phone>
    </div>
    <div class="col-9">
      <div class="row">
        <div class="col-4">
          <app-aspects
            title="Perspective of Law"
            type="law"
            [applicationType]="applicationType"
            [registrationType]="registrationType"
            [sellingDataType]="sellingDataType"></app-aspects>
        </div>
        <div class="col-4">  <app-aspects
          title="Perspective of Informatics"
          type="it"
          [applicationType]="applicationType"
          [registrationType]="registrationType"
          [sellingDataType]="sellingDataType"></app-aspects></div>
        <div class="col-4">  <app-aspects
          title="Perspective of Economy"
          type="economy"
          [applicationType]="applicationType"
          [registrationType]="registrationType"
          [sellingDataType]="sellingDataType"></app-aspects></div>
      </div>
      <div class="row">
        <div class="col-12">
          <app-animations
            [applicationType]="applicationType"
            [registrationType]="registrationType"
            [sellingDataType]="sellingDataType"
          ></app-animations>
        </div>
      </div>
    </div>

  </div>

</div>
<div class="container-fluid hide-fullscreen">
  <div class="alert-warning p-4 mt-2">
    <p class="mb-0"><fa-icon [icon]="['fas','exclamation-triangle']" class="mr-2"></fa-icon>Please use a screen with a width of at least 1440px in order to properly display the app.</p>
  </div>
</div>
