.header {
  background-color: #1f2530;
  color: white;
}

.download-link, .download-link:hover{
  color: #1b5787;
  text-decoration: none;
}

.start-button{
  height: 60px;
  min-width: 110px;
  font-size: 20px;
}
