@import '~@angular/material/theming';
$md-compact-primary: (
  50 : #e9eaec,
  100 : #c7cace,
  200 : #a2a6ae,
  300 : #7c828e,
  400 : #606875,
  500 : #444d5d,
  600 : #3e4655,
  700 : #353d4b,
  800 : #2d3441,
  900 : #1f2530,
  A100 : #a2a6ae,
  A200 : #7e838e,
  A400 : #62656b,
  A700 : #51555b,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$md-compact-accent: (
  50 : #e4ebf1,
  100 : #bbcddb,
  200 : #8dabc3,
  300 : #5f89ab,
  400 : #3d7099,
  500 : #1b5787,
  600 : #184f7f,
  700 : #144674,
  800 : #103c6a,
  900 : #082c57,
  A100 : #8bb8ff,
  A200 : #5899ff,
  A400 : #257aff,
  A700 : #0b6aff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

@include mat-core();
$compact-app-primary: mat-palette($md-compact-primary);
$compact-app-accent: mat-palette($md-compact-accent, A200, A100, A400);
$compact-app-warn: mat-palette($mat-red);
$compact-app-theme: mat-light-theme($compact-app-primary, $compact-app-accent, $compact-app-warn);
@include angular-material-theme($compact-app-theme);

.pointer {
  cursor: pointer;
}

.mat-radio-button {
  position: relative !important;
}

.mat-radio-container {
  position: absolute !important;
  top: 4px !important;
}

.mat-radio-label-content {
  padding-left: 30px !important;
}
